.bg-image {
    height: calc(100vh - 61px);
    background-image: linear-gradient(to top, rgba(80, 60, 10, 0.6), transparent), url(../assets/freedom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 64px;
    position: relative;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 3rem;
    color: #47535E;
}

.title_main {
    bottom: 80px;
    right: 25px;
    position: absolute;
}

