@import '../App.scss';

#packages {
    background: url('../assets/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(60%);
    padding: 3rem;

.mycard {
    padding : 1.4rem;
    border: $borderDefault;
    width: 80%;
    margin: 1.4rem auto;
    box-shadow: 10px 10px 14px ;
    background-color: rgb(231, 248, 235);
    opacity: 0.8;
}

.mycard:hover, 
.mycard:active {
    cursor: pointer;
    border: 2px solid #E74292;
    opacity: 1;
}

.mycard:first-child {
    position: relative;
    margin-top: 4.5rem;
}

.icon-container {
    position: absolute;
    top : 15px;
    right: 15px;
    box-shadow: 1px 1px 10px #F3B431;
}

.active {
    background-color: $secondaryColor;
    opacity: 0.8;
}

.active h2 {
    color: white;
}

h3 {
    color: rgb(136,141,142);
}

p {
    padding: 1rem;
    border: $borderDefault;
    background-color: white;
}

} /* FIM DO #PACKAGES */


@media (max-width : 568px) {
    .mycard {
        font-size: 0.6rem;
    }

    .mycard h2 {
        font-size: 1.5rem;
    }

    .mycard h3 {
        font-size: 1.2rem;
    }
}

@media (min-width : 1100px) {
    #packages .mycard {
        width: 700px;
    }
}