.my_mobile_bar {
    position: fixed;
    top: 0;
    left : 0;
    width : 150px;
    height: 100%;
    background-color: #7CEC9F;
    z-index: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: mobBar;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.mob_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 2rem;
    padding: 0;

    li {
        margin: 2rem 0px;
        text-align: center;
    }
}

.brand_mobile {
    padding : 20px;
}

.active_link_mobile a{
    padding: 0.7rem;
    font-size: 1.5rem;
    border-radius: 80%;
}

@keyframes mobBar {
    from {
        width: 0px;
     }
    to {
    width: 150px
    }
 }