#items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    padding: 1.3rem;
    margin: 0px auto;

    li {
        list-style: none;
    }
    
    h3 {
        color: grey;
        margin: 10px;
        
    }
    
    ul {
        margin: 0px;
        padding: 0px;
    }
    
    .highlighted {
        background-color: #09e64f;
        color:white;
        box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.7);
        margin: 0.7rem 0px;
        padding : 0.5rem;
        border-radius: 8px;
        font-weight: bold;
        word-break: break-all;
    }
    
    .recom_price {
        color : black
    }
}


.item {
    width: 34%;
    padding: 1.4rem;
    background-color: #1BCA9B;
    border: 1px solid black;
    margin: 0.7rem 1rem;
    text-align: center;
    border: none;
    box-shadow: 5px 8px 18px black;
}

.item:nth-child(2) {
    background-color: #19b84c;
    color: white;
}


@media (max-width : 499px) {
    #items {
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }
    .item {
        width: 100%;
        margin: 0;
        box-shadow: 0px 0px 0px
    }
}

@media (min-width : 500px) and (max-width : 768px) {
    #items {
        display: flex;
        flex-direction: column;
    }
    .item {
        width: 440px;
    }
}

@media (min-width : 769px) and (max-width : 1024px) {
    .item {
        margin: 0.7rem 0.3rem;
    }
}