.mymodal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    text-align: center;
    animation-name: modal_animation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@media(min-width : 790px) {
    .mymodal {
        max-width: 730px;
        left: calc(50% - 300px);
    }
}


@keyframes modal_animation {
    from {
        opacity: 0;
        transform: rotateX(90deg);  
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
