/* font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif; 
font-family: 'Sacramento', cursive;

Código compartilhado para os componentes 
*/

$mainColor : #7CEC9F;
$secondaryColor : #47535E;
$hoverColor : #1BCA9B;
$borderDefault : 1px solid black;

.mybackdrop {
    position : fixed;
    z-index: 300;
    width: 100%;
    height: 100%;
    top : 0;
    left : 0;
    background-color: rgba(56, 43, 43, 0.5);
}